
@{
    ViewData["Title"] = "ReservedBooks";
}

<h2>my ReservedBooks</h2>

@model List<Smartpetrol.Models.Books.BookViewModel>

<table class="users-table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Издатель</th>
            <th>Дата окончания брони</th>
            <th>Отмена бронирования</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@book.Publisher</td>
                <td>@(book.ReservationEndTime.Value.ToLocalTime().ToString("dd MMM. HH:mm", new System.Globalization.CultureInfo("ru-ru")))</td>
                <td>
                    @using (Html.BeginForm("CancelReservation", "Client", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="text" name="bookId" value="@book.Id" hidden />
                        <input type="submit" value="Отменить" class="button no-select" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

