
@{
    ViewData["Title"] = "Редактировать пользователя";
}


@using Smartpetrol.Data
@using Smartpetrol.Extensions
@model Smartpetrol.Models.Users.EditUserViewModel

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <label asp-for="FirstName" class="middle-sign"></label>
    <input asp-for="FirstName" type="text" autocomplete="false" class="input-text" />
    <span asp-validation-for="FirstName"></span>

    <label asp-for="Email" class="middle-sign"></label>
    <input asp-for="Email" type="email" autocomplete="false" class="input-text" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Password" class="middle-sign"></label>
    <input asp-for="Password" type="password" class="input-text" placeholder="Оставить поле пустым" />
    <span asp-validation-for="Password"></span>


    <label asp-for="RolesList" class="middle-sign"></label>
    <ul>
        @for (int i = 0; i < Model.RolesList.Roles.Count; i++)
        {
            <li>
                <label asp-for="@Model.RolesList.Roles[i].Selected">@Model.RolesList.Roles[i].RoleName.GetDisplayName()</label>
                <input type="checkbox" asp-for="@Model.RolesList.Roles[i].Selected" />
                <input type="hidden" asp-for="@Model.RolesList.Roles[i].RoleName" />
            </li>
        }
    </ul>

    <input type="text" name="Id" value="@Model.Id" hidden />
    <div asp-validation-summary="ModelOnly"></div>

    <input type="submit" value="Сохранить" class="button no-select" />
}

@using (Html.BeginForm("DeleteUser", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="text" name="userId" value="@Model.Id" hidden />
    <input type="submit" value="Удалить пользователя" class="button no-select" disabled id="deleteUserBtn"/>
}

<label class="no-select">
    <input type="checkbox" id="deleteUserCheckbox" />
    Подтвердить удаление
</label>

<script type="text/javascript">
    document.getElementById("deleteUserCheckbox").addEventListener("change", function (e) {
        let btn = document.getElementById("deleteUserBtn");
        if (e.target.checked) btn.removeAttribute("disabled");
        else btn.setAttribute("disabled", "disabled");
    });
</script>