
@{
    ViewData["Title"] = "Index";
}

@model List<UserModel>

<h2>Админ</h2>


<a href="@Url.Action("RegisterUser", "Admin")">Зарегистрировать пользователя</a>


@foreach (var user in Model)
{
    <a href="@Url.Action("EditUser", "Admin", new { userId = user.Id})">
        <div>@user.Name</div>
        <div>@user.Email</div>
        <div>@user.RoleFullNames</div>
    </a>
}
