
@{
    ViewData["Title"] = "RegisterUser";
}

@using Smartpetrol.Data
@using Smartpetrol.Extensions
@model Smartpetrol.Models.Users.RegisterUserViewModel

<div class="content">
    <h2 class="main-title">Регистрация нового пользователя</h2>
    @using (Html.BeginForm("RegisterUser", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <label asp-for="FirstName" class="middle-sign"></label>
        <input asp-for="FirstName" type="text" autocomplete="false" class="input-text" />
        <span asp-validation-for="FirstName"></span>

        <label asp-for="Email" class="middle-sign"></label>
        <input asp-for="Email" type="email" autocomplete="false" class="input-text" />
        <span asp-validation-for="Email"></span>

        <label asp-for="Password" class="middle-sign"></label>
        <input asp-for="Password" type="password" class="input-text" />
        <span asp-validation-for="Password"></span>

        <label asp-for="PasswordConfirm" class="middle-sign"></label>
        <input asp-for="PasswordConfirm" type="password" class="input-text" />
        <span asp-validation-for="PasswordConfirm"></span>

        <label asp-for="RolesList" class="middle-sign"></label>
        <ul>
            @for (int i = 0; i < Model.RolesList.Roles.Count; i++)
            {
                <li>
                    <label asp-for="@Model.RolesList.Roles[i].Selected">@Model.RolesList.Roles[i].RoleName.GetDisplayNameAttribute()</label>
                    <input type="checkbox" asp-for="@Model.RolesList.Roles[i].Selected" />
                    <input type="hidden" asp-for="@Model.RolesList.Roles[i].RoleName" />
                </li>
            }
        </ul>

        <div asp-validation-summary="ModelOnly"></div>

        <input type="submit" value="Зарегистрировать" class="button no-select" />
    }
</div>